@page "/counter"
@rendermode InteractiveServer

@* <PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="()=>currentCount=currentCount+2">Click me</button>
<div class="m-4">
    <input type="text" @oninput="HandleInput" />

    <p>@text</p>
</div>

<div style="border: 1px solid black;" @onmouseover="MouseOverMethod">
    <p>@divText</p>
</div>

<div class="m-4">
    <input type="text" @onkeydown="HandleKeyDown"/>

    <p>@text</p>
</div>

<div class="m-4">
    <input type="text" @onfocus="FocusMe" @onblur="UnfocusMe" />

    <p>@onFocusText</p>
</div>

@code {
    private int currentCount = 0;
    string text = "";
    string divText = "";
    string onFocusText = "";

    private void IncrementCount()
    {
        currentCount++;
    }
    private void HandleInput(ChangeEventArgs e)
    {
        text = (string)e.Value!;
    }
    private void MouseOverMethod(MouseEventArgs e)
    {
        divText = "you are rendering over";
    }
    private void HandleKeyDown(KeyboardEventArgs e)
    {
        text = e.Key;
    }
    private void FocusMe(FocusEventArgs e)
    {
        onFocusText = "You are typing...";
    }
    private void UnfocusMe(FocusEventArgs e)
    {
        onFocusText = "YOU ARE FOCUSED ON ANOTHER PART...";
    }
} *@

<h1>Bind Multiple <code>input</code>Example</h1>

<p>
    <label>
        Select one or more cars:
        <select @onchange="SelectedCarsChanged" multiple>
            <option value="audi">Audi</option>
            <option value="jeep">Jeep</option>
            <option value="opel">Opel</option>
            <option value="saab">Saab</option>
            <option value="volvo">Volvo</option>
        </select>
    </label>
</p>

<p>
    Selected Cars: @string.Join(", ", SelectedCars)
</p>

<p>
    <label>
        Select one or more cities:
        <select @bind="SelectedCities" multiple>
            <option value="bal">Baltimore</option>
            <option value="la">Los Angeles</option>
            <option value="pdx">Portland</option>
            <option value="sf">San Francisco</option>
            <option value="sea">Seattle</option>
        </select>
    </label>
</p>

<span>
    Selected Cities: @string.Join(", ", SelectedCities)
</span>

@code {
    public string[] SelectedCars { get; set; } = new string[] { };
    public string[] SelectedCities { get; set; } = new[] { "bal", "sea" };

    private void SelectedCarsChanged(ChangeEventArgs e)
    {
        if (e.Value is not null)
        {
            SelectedCars = (string[])e.Value;
        }
    }
}

